* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", arial;
  --color-blue: #08a6e4;
  --color-red: #fb3b64;
  --color-green: #55dfb4;
  --color-black: #000000;
  --color-grey: #a5a5a5;
  --color-light-grey: #f7f7f7;
  --color-white: #ffffff;
  --shadow-color: rgba(7, 172, 230, 0.16);
}
.container {
  max-width: 1352px;
  margin: auto;
}
body {
  font-family: var(--main-font);
}

/* nawigacja */

header {
  max-height: 70px;
  background-color: var(--color-white);
  box-shadow: 0px 3px 6px #00000029;
}
.logo a {
  color: var(--color-blue);
  text-decoration: none;
  font-size: 32px;
  font-family: var(--secondary-font);
  text-align: left;
}
.nav-list a {
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  color: var(--color-grey);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3.28px;
  padding: 22px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  gap: 95px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 70px;
  padding-top: 28px;
  padding-bottom: 27px;
}
.nav-list li a:hover {
  color: var(--color-black);
  border-bottom: 4px solid var(--color-blue);
}

/* banner */

.banner {
  background-image: url("../assets/Background.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-position: bottom;
  background-size: calc(100% + 50px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}
.banner .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-title {
  font-family: var(--secondary-font);
  font-size: 49px;
  text-align: center;
  padding: 57px;
  padding-bottom: 30px;
  margin-top: 40px;
}
.banner-text {
  font-size: 16px;
  text-align: center;
}
.banner-btn {
  margin: 38px;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-blue);
  border: 0;
  box-shadow: 5px 10px 14px #07ace629;
  border-radius: 40px;
  padding: 22px 157px;
  max-width: 440px;
  font-weight: bold;
}
.banner-btn:hover {
  box-shadow: 3px 3px 5px #0790da81;
}

/* popularity boxes */

.popularity-title {
  font-size: 36px;
  font-family: var(--secondary-font);
  padding: 42px;
  text-align: center;
  margin: 100px 0;
}
.circle_one {
  width: 62px;
  height: 62px;
  background-color: var(--color-red);
  border-radius: 50%;
}
.circle_one img {
  position: relative;
  left: 28px;
  top: 2px;
}
.circle_two {
  width: 62px;
  height: 62px;
  background-color: var(--color-blue);
  border-radius: 50%;
}
.circle_two img {
  position: relative;
  left: 20px;
  top: 15px;
}
.circle_three {
  width: 62px;
  height: 62px;
  background-color: var(--color-green);
  border-radius: 50%;
}
.circle_three img {
  position: relative;
  left: 27px;
  top: 7px;
}
.popularity span {
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 5.96px;
  text-align: center;
}
.popularity p {
  color: var(--color-grey);
  font-family: var(--secondary-font);
  font-size: 17px;
  max-width: 120px;
  text-align: center;
}
.popularity_boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 205px;
  margin-bottom: 120px;
}
.popular_box_one,
.popular_box_two,
.popular_box_three {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popularity_boxes span {
  padding: 19px;
}

/* main content trzy sekcje */

/* pierwszy box */

.main_content {
  background-color: var(--color-light-grey);
}
.main_content .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.first_box-header {
  font-family: var(--secondary-font);
  font-size: 36px;
  padding: 22px;
}
.first_box-text {
  font-size: 16px;
  padding: 22px;
}
.first_box-text::after {
  content: "";
  position: relative;
  display: block;
  width: 327px;
  height: 0;
  border: 4px solid var(--color-red);
  margin: 50px 0;
}
.first_box-paragraph {
  margin: 70px 35px;
}
.first_box_element {
  background-color: var(--color-red);
  border-radius: 41px;
  max-width: 200px;
  height: 200px;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: relative;
  bottom: 165px;
  left: 110px;
}
.macbook {
  max-width: 386px;
  position: relative;
  z-index: 1;
  top: 100px;
  right: 100px;
}
.first_box {
  margin-top: 105px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #e8e9ed;
  background-color: var(--color-white);
  width: 1124px;
  height: 370px;
  border: 1px solid #e8e9ed;
  border-radius: 5px;

  /* drugi box */
}
.second_box-2 {
  margin-top: 37px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.iPhone {
  max-width: 426px;
  height: 328px;
  position: relative;
  z-index: 1;
  top: 40px;
  left: 20px;
}
.second_box-text::after {
  content: "";
  position: relative;
  display: block;
  width: 327px;
  height: 0;
  border: 4px solid var(--color-blue);
  margin: 50px 0;
}
.second_box-paragraph {
  margin: 50px 15px 0 250px;
}
.second_box-header {
  font-family: var(--secondary-font);
  font-size: 36px;
  padding: 22px;
}
.second_box-text {
  font-size: 16px;
  padding: 22px;
}
.second_box_element {
  background-color: var(--color-blue);
  width: 320px;
  height: 320px;
  border-radius: 50%;
  position: relative;
  bottom: 310px;
  left: 30px;
}

/*trzeci box*/

.third_box-3 {
  margin-top: 37px;
  max-width: 623px;
  display: flex;
  flex-direction: row;
  background-color: var(--color-white);
  margin-bottom: 105px;
}
.third_box-text::after {
  content: "";
  position: relative;
  display: block;
  width: 327px;
  height: 0;
  border: 4px solid var(--color-green);
  margin: 50px 0;
}

.third_box_container {
  display: flex;
  justify-content: left;
}
.trumpet {
  max-width: 295px;
}
.third_box-picture {
  background-color: var(--color-green);
  border: 1px solid #e8e9ed;
  width: 440px;
  height: 370px;
  margin-left: 60px;
  margin-top: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.third_box-paragraph {
  margin: 70px 35px;
}
.third_box-header {
  font-family: var(--secondary-font);
  font-size: 36px;
  padding: 22px;
}
.third_box-text {
  font-size: 16px;
  padding: 22px;
}

/* pricing */

.pricing-title {
  font-size: 36px;
  font-family: var(--secondary-font);
  text-align: center;
  margin: 100px 0 50px 0;
}

.pricing_boxes {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}
.pricing_boxes p {
  font-size: 14px;
  text-align: center;
}
.pricing_boxes h5 {
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: bold;
  color: #13253b;
  padding-top: 34px;
}
.pricing_box_one span {
  color: var(--color-red);
  font-size: 46px;
  font-weight: lighter;
  text-align: center;
  display: inline-block;
  transform: translateY(20px);
}
.pricing_box_two span {
  color: var(--color-blue);
  font-size: 46px;
  font-weight: lighter;
  display: inline-block;
  transform: translateY(20px);
}
.pricing_box_three span {
  color: var(--color-green);
  font-size: 46px;
  font-weight: lighter;
  display: inline-block;
  transform: translateY(20px);
}
.limited {
  transform: translateY(50px);
  font: normal normal bold 12px/1px Raleway;
}

.pricing_box_one {
  position: relative;
  top: 20px;
  border: 1px solid var(--color-red);
  border-radius: 18px;
  width: 372px;
  height: 461px;
  text-align: center;
}
.pricing_box_two {
  border: 1px solid var(--color-blue);
  border-radius: 18px;
  width: 405px;
  height: 500px;
  box-shadow: 5px 10px 27px #07ace629;
  text-align: center;
}
.pricing_box_three {
  position: relative;
  top: 20px;
  border: 1px solid var(--color-green);
  border-radius: 18px;
  width: 372px;
  height: 461px;
  text-align: center;
}
.pricing-btn-1 {
  font-weight: bold;
  color: var(--color-white);
  background-color: var(--color-red);
  border-radius: 23px;
  border: 0;
  padding: 16px 57px;
  transform: translateY(140px);
}
.pricing-btn-2 {
  font-weight: bold;
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 23px;
  border: 0;
  padding: 16px 57px;
  box-shadow: 5px 10px 14px #07ace629;
  transform: translateY(150px);
}
.pricing-btn-3 {
  font-weight: bold;
  color: var(--color-white);
  background-color: var(--color-green);
  border-radius: 23px;
  border: 0;
  padding: 16px 57px;
  transform: translateY(140px);
}
.pricing-btn-1:hover,
.pricing-btn-2:hover,
.pricing-btn-3:hover {
  box-shadow: 3px 3px 6px #949393a0;
}
.pricing_elements-3 {
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 10px;
  margin: 5px;
  transform: translateY(100px);
}
.pricing_elements-2 {
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 13px;
  margin: 5px;
  transform: translateY(110px);
}
.pricing_elements-1 {
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 10px;
  margin: 5px;
  margin-top: 5px;
  transform: translateY(100px);
}

/*contact form */

.contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact_elements {
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.questions img {
  width: 27px;
  margin: 5px 0px;
}
.questions h6 {
  font-family: var(--secondary-font);
  font-size: 49px;
}
.questions p {
  font-size: 16px;
  padding: 22px 0;
}
.questions span {
  font: normal normal 600 16px/22px;
  color: var(--color-grey);
  gap: 10px;
}
.questions {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.contact_form {
  margin-top: 10px;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  transform: translateY(90px);
}
.label {
  font-size: 11px;
  color: var(--color-blue);
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0;
}
input[type="text"],
input[type="e-mail"] {
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--color-grey);
  padding: 10px;
  margin: 0px 0;
}

button[type="submit"] {
  color: var(--color-white);
  font-weight: bold;
  font-size: 13px;
  box-shadow: 5px 10px 14px #07ace629;
  background-color: var(--color-blue);
  border: 0;
  border-radius: 35px;
  padding: 20px 97px;
  align-self: flex-end;
}
button[type="submit"]:hover {
  background-color: rgba(0, 157, 255, 0.6);
}

/* checkbox */

.checkbox {
  padding: 25px;
  margin: 10px 0;
  font-size: 12px;
  color: #707070;
  display: flex;
  cursor: pointer;
  align-items: flex-start;
  transform: translateX(-20px);
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox span {
  height: 22px;
  flex-shrink: 0;
  flex-basis: 22px;
  border: 1px solid #95989a;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 4px;
}
.checkbox input:checked + span {
  background-image: url("../assets/Checkmark.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* footer */
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer {
  background-color: var(--color-light-grey);
  box-shadow: 0px -5px 40px #00000029;
  height: 100%;
}
.footer-logo a {
  text-decoration: none;
  color: var(--color-blue);
  font-size: 26px;
  font-family: var(--secondary-font);
}
.copyright {
  font-size: 11px;
  color: var(--color-grey);
  margin-bottom: 17px;
  margin-top: 6px;
}
.footer-logo {
  margin-top: 20px;
}
.icons a {
  margin: 10px;
}