.banner {
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-position: bottom;
    background-size: calc(100% + 50px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  }
  .banner .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner-title {
    font-family: var(--secondary-font);
    font-size: 49px;
    text-align: center;
    padding: 57px;
    padding-bottom: 30px;
    margin-top: 40px;
  }
  .banner-text {
    font-size: 16px;
    text-align: center;
  }
  .banner-btn {
    margin: 38px;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-blue);
    border: 0;
    box-shadow: 5px 10px 14px #07ace629;
    border-radius: 40px;
    padding: 22px 157px;
    max-width: 440px;
    font-weight: bold;
  }
  .banner-btn:hover {
    box-shadow: 3px 3px 5px #0790da81;
  }