.main_content {
  background-color: $color-light-grey;
}
.main_content .container {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media screen and (max-width: 1000px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/*first box */

.first_box-header {
  font-family: $secondary-font;
  font-size: 36px;
  padding: 22px;
}
.first_box-text {
  font-size: 16px;
  padding: 22px;

  @media screen and (max-width: 1000px) {
    width: 100%;
  }
}
.first_box-text::after {
  content: "";
  position: relative;
  display: block;
  width: 327px;
  height: 0;
  border: 4px solid $color-red;
  margin: 50px 0;

  @media screen and (max-width: 1000px) {
    display: none;
  }
}
.first_box-paragraph {
  margin: 70px 35px;

  @media screen and (max-width: 1000px) {
    margin: 25px 0;
  }
}
.first_box_element {
  background-color: $color-red;
  border-radius: 41px;
  max-width: 200px;
  height: 200px;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: relative;
  bottom: 165px;
  left: 110px;

  @media screen and (max-width: 1000px) {
    left: 80px;
    top: -20px;
    width: 130px;
    height: 130px;
    z-index: 0;
  }
}
.macbook {
  max-width: 386px;
  position: relative;
  z-index: 1;
  top: 100px;
  right: 100px;

  @media screen and (max-width: 1000px) {
    width: 200px;
    transform: translate(90px, 40px);
  }
}
.first_box {
  margin-top: 105px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #e8e9ed;
  background-color: $color-white;
  width: 1124px;
  height: 370px;
  border: 1px solid #e8e9ed;
  border-radius: 5px;

  @media screen and (max-width: 1000px) {
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 20px;
  }
}
@media screen and (max-width: 1000px) {
  .first_box-picture {
    margin-top: -50px;
  }
}
/* drugi box */

.second_box-2 {
  margin-top: 37px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 20px 20px;
  }
}
.iPhone {
  max-width: 426px;
  height: 328px;
  position: relative;
  z-index: 1;
  top: 40px;
  left: 20px;

  @media screen and (max-width: 1000px) {
    width: 175px;
    height: 135px;
    top: 130px;
    left: 10px;
  }
}
.second_box-text::after {
  content: "";
  position: relative;
  display: block;
  width: 327px;
  height: 0;
  border: 4px solid $color-blue;
  margin: 50px 0;

  @media screen and (max-width: 1000px) {
    display: none;
  }
}
.second_box-paragraph {
  margin: 50px 15px 0 250px;

  @media screen and (max-width: 1000px) {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.second_box-header {
  font-family: $secondary-font;
  font-size: 36px;
  padding: 22px;
}
.second_box-text {
  font-size: 16px;
  padding: 22px;

  @media screen and (max-width: 1000px) {
    width: 70%;
  }
  @media screen and (max-width: 640px) {
    width: 100%;
  }
}
.second_box_element {
  background-color: $color-blue;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  position: relative;
  bottom: 310px;
  left: 30px;

  @media screen and (max-width: 1000px) {
    width: 131px;
    height: 131px;
    top: -20px;
    left: 0;
  }
}

.second_box-picture {
  @media screen and (max-width: 1000px) {
    margin-top: -70px;
    padding: 0;
  }
}

/*trzeci box*/

.third_box-3 {
  margin-top: 37px;
  width: 623px;
  display: flex;
  flex-direction: row;
  background-color: $color-white;
  margin-bottom: 105px;

  @media screen and (max-width: 1000px) {
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 0;
    margin-bottom: 0;
  }
}
.third_box-text::after {
  content: "";
  position: relative;
  display: block;
  width: 327px;
  height: 0;
  border: 4px solid $color-green;
  margin: 50px 0;

  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.third_box_container {
  display: flex;
  justify-content: left;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    width: 100%;
  }
}
.trumpet {
  max-width: 295px;
}
.third_box-picture {
  background-color: $color-green;
  border: 1px solid #e8e9ed;
  width: 440px;
  height: 370px;
  margin-left: 60px;
  margin-top: 37px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1000px) {
    width: 100%;
    margin: 0;
    margin-bottom: 45px;
  }
}
.third_box-paragraph {
  margin: 70px 35px;

  @media screen and (max-width: 1000px) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.third_box-header {
  font-family: $secondary-font;
  font-size: 36px;
  padding: 22px;
}
.third_box-text {
  font-size: 16px;
  padding: 22px;

  @media screen and (max-width: 1000px) {
    width: 60%;
    padding: 15px;
  }
  @media screen and (max-width: 640px) {
    width: 100%;
  }
}
