$main-font: "Open Sans", sans-serif;
$secondary-font: "Raleway", arial;
$color-blue: #08a6e4;
$color-red: #fb3b64;
$color-green: #55dfb4;
$color-black: #000000;
$color-grey: #a5a5a5;
$color-light-grey: #f7f7f7;
$color-white: #ffffff;
$shadow-color: rgba(7, 172, 230, 0.16);
